@using MagicMatchTracker.Features.Players.Components
@using MagicMatchTracker.Features.Players.Dialogs.Edit
@inherits LifecycleComponentBase

@if (State.Player is null)
{
	return;
}

<div class="heading">
	<span class="d-flex align-items-center gap-2">
		<Avatar Player="State.Player" Size="36"/>
		<h1 class="text-content gap-2">
			<span>@State.Player.Name</span>
			@if (State.Player.Alias is not null)
			{
				<span class="text-muted small fw-light">@State.Player.Alias</span>
			}
		</h1>
	</span>

	<button class="btn btn-ghost-secondary btn-square hover-icon-filled"
	        title="Edit player"
	        @onclick="() => State.EditPlayerAsync(CancellationToken)">
		<span class="icon" aria-hidden="true">edit</span>
	</button>
</div>

<div class="subheading">
	<PlayerStatsOverview Stats="State.PlayerStats" class="text-muted"/>

	<ul class="nav nav-pills">
		<li class="nav-item">
			<NavLink class="nav-link text-content justify-content-center" href=@($"/players/{State.Player.Id}/decks")>
				<span class="icon" aria-hidden="true">box</span>
				<span>Decks</span>
			</NavLink>
		</li>
		<li class="nav-item">
			<NavLink class="nav-link text-content justify-content-center" href=@($"/players/{State.Player.Id}/matches")>
				<span class="icon" aria-hidden="true">swords</span>
				<span>Matches</span>
			</NavLink>
		</li>
	</ul>
</div>

<PlayerEditDialog/>

@code {

	private PlayerDetailStateBase? _previousState;

	[Parameter, EditorRequired]
    public required PlayerDetailStateBase State { get; set; }

	protected override void OnParametersSet()
	{
		if (_previousState == State)
			return;

		if (_previousState is not null)
			_previousState.StateChanged -= StateHasChanged;

		State.StateChanged += StateHasChanged;
		_previousState = State;
	}

	protected override void DisposeCore()
	{
		State.StateChanged -= StateHasChanged;
	}

}