.subheading {
	display: flex;
	flex-direction: column;
	row-gap: 0.5rem;
	column-gap: 1rem;
	margin-bottom: 1rem;
}

.nav .nav-item {
	flex: 1;
}

@media screen and (min-width: 768px) {

	.subheading {
		flex-direction: row-reverse;
		align-items: center;
		justify-content: start;
	}

	.nav .nav-item {
		flex: 0;
	}
}