.card:not(:has(.card-body)) .card-img-top {
	flex-grow: 1;
}

.participation-options {
	display: block;

	.dropdown-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 1rem 0.5rem 0.75rem;

		&:active .icon {
			--icon-fill: 1;
		}
	}
}

.end-state-details {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.end-state-entry {
	display: flex;
	align-items: center;
	gap: 0.125rem;
}

.winner {
	border-color: var(--bs-warning);
	box-shadow: 0 0 1rem 0.25rem var(--bs-warning-border-subtle);
}