<div class="card">
	<div class="card-body">
		<span class="card-title d-flex align-items-center gap-1">
			<Avatar Player="Participation.Player" Size="20" style="margin-left: 2px; margin-right: 2px;"/>
			<span>@Participation.Player.Name</span>
		</span>
		<span class="card-text d-flex gap-1">
			<span class="icon">box</span>
			<div class="d-flex flex-column">
				<span>@(Participation.Deck.Name ?? Participation.Deck.Commander)</span>
				@if (Participation.Deck.Name is not null)
				{
					<span class="small text-secondary">@Participation.Deck.Commander</span>
				}
				@if (Participation.Deck.Partner is not null)
				{
					<span class="small text-secondary">@Participation.Deck.Partner</span>
				}
			</div>
		</span>
	</div>
</div>

@code {

	[Parameter, EditorRequired]
    public required MatchParticipation Participation { get; set; }

}