@{
	var entries = GetEntries().JoinToString(" • ");
	var icon = entries == NotRecordedLive ? "timer_off" : "timer";
}
@if (entries.IsEmpty())
	return;

<div @attributes="Attributes" class="@_containerClass">
	<span class="icon">@icon</span>
	<span>@entries</span>
</div>

@code {

	private const string NotRecordedLive = "Not recorded live";
	private string? _containerClass;

	[Parameter, EditorRequired]
    public required Match Match { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
    public Dictionary<string, object>? Attributes { get; set; }

	protected override void OnParametersSet()
	{
		_containerClass = AttributeUtilities.CombineClassNames(Attributes, "text-content");
	}

	private IEnumerable<string> GetEntries()
	{
		if (Match.IsInProgress)
			yield return "In Progress";

		var totalTurns = Match.GetTotalTurns();
		if (Match.HasEnded && totalTurns is not null)
			yield return $"{totalTurns} turns";

		var formattedDuration = Match.IsLive
			? Match.GetFormattedDuration()
			: NotRecordedLive;
		if (formattedDuration is not null)
			yield return formattedDuration;
	}

}