.participation-options {
	display: block;

	.dropdown-item {
		display: flex;
		align-items: center;
		gap: 0.5rem;
		padding: 0.5rem 1rem 0.5rem 0.75rem;

		&:active .icon {
			--icon-fill: 1;
		}
	}
}