@import "tailwindcss";

:root {
	color-scheme: light dark;
}

@theme {
	--font-sans: 'Outfit', system-ui, sans-serif;
	--font-serif: 'Philosopher', serif;
	--font-mono: 'JetBrains Mono', ui-monospace, monospace;
	--font-icon: 'Material Symbols Rounded';

	--color-background: light-dark(var(--color-neutral-200), var(--color-neutral-900));

	--color-surface: light-dark(var(--color-white), var(--color-neutral-800));
	--color-on-surface: light-dark(var(--color-neutral-800), var(--color-neutral-200));
	--color-on-surface-muted: light-dark(var(--color-neutral-600), var(--color-neutral-400));
	--color-on-surface-inactive: light-dark(var(--color-neutral-500), var(--color-neutral-500));

	--color-component: light-dark(var(--color-neutral-200), var(--color-neutral-700));
	--color-on-component: light-dark(var(--color-neutral-900), var(--color-neutral-100));

	--color-inverted-component: light-dark(var(--color-neutral-900), var(--color-neutral-100));
	--color-on-inverted-component: light-dark(var(--color-white), var(--color-neutral-900));

	--radius-surface: var(--radius-xl);
	--radius-component: var(--radius-md);
	--radius-badge: calc(infinity * 1px);
}

@layer base {

	body {
		@apply text-on-surface;
		@apply bg-background;
		font-size: 16px;
	}

	h1, h2, h3 {
		@apply font-serif font-bold;
	}

	h1 {
		@apply text-4xl;
	}

	h2 {
		@apply text-2xl;
	}

	h3 {
		@apply text-xl;
	}

}

@layer components {

	.card {
		@apply bg-surface text-on-surface p-6 rounded-surface
	}

	.button {
		@apply transition-all px-4 py-2 rounded-component bg-component text-on-component hover:brightness-85 dark:hover:brightness-115 hover:cursor-pointer active:scale-95
	}

	.inverted-component {
		@apply bg-inverted-component text-on-inverted-component hover:brightness-115 dark:hover:brightness-85;
	}

}

@utility icon-filled {
	--icon-fill: 1;
}

@utility icon-thin {
	--icon-opsz: 48;
}

.icon {
	@apply font-icon;
	font-weight: normal;
	font-style: normal;

	font-size: 1lh;
	line-height: 1;
	max-width: 1lh;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	user-select: none;

	font-variation-settings:
		'FILL' var(--icon-fill, 0),
		'opsz' var(--icon-opsz, 24);
}