.deck-card {
	min-height: 139px;
	height: 100%;
	width: 100%;
}

.card-body {
	display: flex;
	justify-content: space-between;
}

.deck-stats {
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.deck-stat {
	display: flex;
	align-items: center;
	gap: 0.125rem;

	& .icon {
		font-size: 19px;
	}
}

.placeholder-icon {
	width: 1.125rem;
	height: 1.125rem;
	border-radius: 50%;
}

.placeholder-stat {
	width: 1.5rem;
}