.page-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.match-toolbar {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.match-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.match-detail-entry,
::deep .match-detail-entry {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	word-break: break-word;
}

.match-actions {
	margin-top: 0.5rem;

	&:not(.btn) {
		display: flex;
		flex-direction: row;
		gap: 0.5rem;
		justify-content: stretch;
	}

	&.btn {
		justify-content: center;
	}

	& .btn {
		flex: 1;
		justify-content: center;
	}
}

.match-participations {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.participation-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(25rem, 1fr));
	gap: 1rem;
}

@media screen and (min-width: 1200px) {

	.page-content {
		flex-direction: row;
		align-items: start;
	}

	.match-toolbar {
		flex-direction: row-reverse;
	}

	.match-details {
		max-width: 20rem;
		border: 1px solid var(--bs-border-color);
		border-radius: var(--bs-border-radius);
		padding: 1rem;
	}

	.match-detail-entry {
		margin-right: 0.25rem;
	}

	.match-actions {
		margin-top: 1rem;

		&:not(.btn) {
			flex-direction: column;
		}
	}

	.match-participations {
		flex: 1;
	}

}

@media screen and (min-width: 1400px) {

	.match-participations {
		max-width: 61rem;
	}

}