::deep .corner-button {
	margin-top: -0.5rem;
	margin-right: -0.5rem;
}

.end-state-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.end-state-entry {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.winner {
	border-color: var(--bs-warning);
	box-shadow: 0 0 1.25rem -0.25rem var(--bs-warning);

	& .card-footer {
		background: var(--bs-warning-bg-subtle);
	}

	& .end-state-entry {
		color: var(--bs-warning-text-emphasis);
	}
}