@import "animations.css";
@import "icons.css";
@import "mana.css";
@import "buttons.css";
@import "cards.css";
@import "inputs.css";
@import "modals.css";
@import "utils.css";

#dotnet-compile-error:empty {
	display: none;
}

:root {
	--bs-font-sans-serif: "Noto Sans", system-ui, sans-serif;
	--bs-font-monospace: "Noto Sans Mono", ui-monospace, monospace;
}

html, body {
	font-size: 16px;
}

h1:focus {
    outline: none;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	margin-bottom: 0.5rem;

	.h1, .h2, .h3, .h4, .h5, .h6,
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}

.heading-toolbar {
	display: flex;
	flex-direction: row;
	gap: 0.5rem;
}

.content {
	padding-top: 1.1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	&:has(.btn-fab) {
		padding-bottom: 6rem;
	}

	& > .list-group-flush {
		margin-left: -1.5rem;
		margin-right: -1.5rem;

		& > .list-group-item {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}

		& > .list-group-item:has(.list-group-item-action) {
			padding: 0;
			display: flex;

			.list-group-item-action {
				padding: 0.75rem 1.5rem;
				border-radius: inherit;
			}
		}

		& > .list-group-item:has(.list-group-item-action:hover),
		& > .list-group-item:has(.list-group-item-action:focus) {
			background-color: var(--bs-list-group-action-hover-bg);
		}

		& > .list-group-item:has(.list-group-item-action:active) {
			background-color: var(--bs-list-group-action-active-bg);
		}
	}
}

.list-group-item-deck-background {
	--image-cover-colour: var(--bs-list-group-bg);

	background-image:
		linear-gradient(
			to left,
			transparent 0%,
			transparent 33%,
			var(--image-cover-colour) 90%),
		var(--deck-image-url);
	background-repeat: no-repeat;
	background-position: 120% 15%;
	background-size: 50%;

	&:hover {
		--image-cover-colour: var(--bs-list-group-action-hover-bg);
	}
	&:active {
		--image-cover-colour: var(--bs-list-group-action-active-bg);
	}
	&.disabled {
		opacity: 0.75;
		filter: grayscale(1);
	}
}

.stats {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.75rem;
}

.stats-entry {
	display: flex;
	flex-direction: row;
	align-items: center;
	gap: 0.25rem;

	& .icon {
		font-size: 19px;
	}
}

@media screen and (min-width: 768px) {

	.heading {
		justify-content: start;
	}

	.heading-toolbar {
		flex-direction: row-reverse;
	}

	.nested-modal-layer .modal {
		--bs-modal-margin: 3.5rem;
	}

	.btn-fab {
		top: 3.5rem;
		left: 0;
		right: unset;
		bottom: unset;
		margin: 1rem;
		width: calc(250px - 2rem);
		justify-content: center;
	}

	.nav-scrollable {
		padding-top: 4.125rem;
	}

	.content > .list-group-md-nonflush {
		border-radius: var(--bs-list-group-border-radius);
		border: var(--bs-list-group-border-width) solid var(--bs-list-group-border-color);
		margin-left: 0;
		margin-right: 0;

		& > .list-group-item {
			padding-left: 1rem;
			padding-right: 1rem;
		}

		& > .list-group-item:has(.list-group-item-action) .list-group-item-action {
			padding: 0.75rem 1rem;
		}
	}

}