@import "animations.css";
@import "icons.css";
@import "buttons.css";

:root {
	--bs-font-sans-serif: "Noto Sans", system-ui, sans-serif;
	--bs-font-monospace: "Noto Sans Mono", ui-monospace, monospace;
}

h1:focus {
    outline: none;
}

.content {
	padding-top: 1.1rem;
}

.modal.show {
	display: block;
}

.modal-dialog {
	animation: dialog-entry 0.15s ease-out;
}

.modal-backdrop {
	animation: backdrop-entry 0.15s linear;
}