@import "animations.css";
@import "icons.css";
@import "mana.css";
@import "buttons.css";
@import "cards.css";
@import "inputs.css";
@import "modals.css";
@import "utils.css";

#dotnet-compile-error:empty {
	display: none;
}

:root {
	--bs-font-sans-serif: "Noto Sans", system-ui, sans-serif;
	--bs-font-monospace: "Noto Sans Mono", ui-monospace, monospace;
}

html, body {
	font-size: 16px;
}

h1:focus {
    outline: none;
}

.heading {
	display: flex;
	align-items: center;
	justify-content: space-between;
	gap: 0.5rem;
	margin-bottom: 0.5rem;

	.h1, .h2, .h3, .h4, .h5, .h6,
	h1, h2, h3, h4, h5, h6 {
		margin-bottom: 0;
	}
}

.content {
	padding-top: 1.1rem;
	padding-left: 1.5rem;
	padding-right: 1.5rem;

	&:has(.btn-fab) {
		padding-bottom: 6rem;
	}

	& > .list-group-flush {
		margin-left: -1.5rem;
		margin-right: -1.5rem;

		& > .list-group-item {
			padding-left: 1.5rem;
			padding-right: 1.5rem;
		}
	}
}

@media screen and (min-width: 768px) {

	.heading {
		justify-content: start;
	}

	.nested-modal-layer .modal {
		--bs-modal-margin: 3.5rem;
	}

	.btn-fab {
		top: 3.5rem;
		left: 0;
		right: unset;
		bottom: unset;
		margin: 1rem;
		width: calc(250px - 2rem);
		justify-content: center;
	}

	.nav-scrollable {
		padding-top: 4.125rem;
	}

}