.btn {
	display: inline-flex;
	align-items: center;
	gap: 0.25em;

	.icon {
		font-size: 24px;
	}

	&.btn-sm .icon {
		font-size: 21px;
	}

	&.btn-lg .icon {
		font-size: 30px;
	}
}

.btn-square, .btn-circle {
	--btn-size: calc(var(--bs-btn-padding-y) * 2 + var(--bs-btn-font-size) * var(--bs-btn-line-height) + var(--bs-btn-border-width) * 2);
	display: inline-grid;
	place-items: center;
	padding: 0;
	width: var(--btn-size);
	height: var(--btn-size);

	&.btn-circle {
		border-radius: 50%;
	}
}

.btn-fab {
	position: fixed;
	bottom: 0;
	right: 0;
	margin-right: 1.25rem;
	margin-bottom: 1.75rem;
	padding: var(--bs-btn-padding-x);
	z-index: 10;

	&:not(:disabled) {
		box-shadow:
			rgba(0, 0, 0, 0.2) 0 3px 5px -1px,
			rgba(0, 0, 0, 0.14) 0 6px 10px 0,
			rgba(0, 0, 0, 0.12) 0 1px 18px 0;
	}

	&:hover:not(:active) {
		box-shadow:
			rgba(0, 0, 0, 0.2) 0 5px 5px -3px,
			rgba(0, 0, 0, 0.14) 0 8px 10px 1px,
			rgba(0, 0, 0, 0.12) 0 3px 14px 2px;
	}
}

.btn-form-select {
	padding: 0.375rem 2.25rem 0.375rem 0.75rem;
	width: 100%;
	position: relative;

	--bs-btn-focus-box-shadow: 0 0 0 0.25rem rgba(var(--bs-primary-rgb), .25);
	--bs-btn-border-radius: var(--bs-border-radius);

	--bs-btn-color: var(--bs-body-color);
	--bs-btn-bg: var(--bs-body-bg);
	--bs-btn-border-color: var(--bs-border-color);

	--bs-btn-hover-color: var(--bs-body-color);
	--bs-btn-hover-bg: var(--bs-body-bg);
	--bs-btn-hover-border-color: var(--bs-border-color);

	--bs-btn-active-color: var(--bs-body-color);
	--bs-btn-active-bg: var(--bs-body-bg);
	--bs-btn-active-border-color: var(--bs-border-color);

	--bs-btn-disabled-color: var(--bs-body-color);
	--bs-btn-disabled-bg: var(--bs-secondary-bg);
	--bs-btn-disabled-border-color: var(--bs-border-color);

	&:disabled {
		opacity: 1;
	}

	&:focus-visible {
		border-color: #86b7fe
	}

	&:has(.floating-label) {
		padding-top: 1.625rem;
		padding-bottom: 0.625rem;
	}

	&::after {
		content: "keyboard_arrow_down";
		font-family: 'Material Symbols Rounded';
		font-size: 24px;
		line-height: 1;
		font-weight: normal;
		font-style: normal;
		-moz-font-feature-settings: 'liga';
		-moz-osx-font-smoothing: grayscale;

		position: absolute;
		right: 0.5rem;
		top: calc(50% + 1px);
		transform: translateY(-50%);
		pointer-events: none;
	}
}

/* region Ghost buttons */

.btn-ghost-primary {
	--bs-btn-focus-shadow-rgb: var(--bs-primary-rgb);

	--bs-btn-color: var(--bs-primary);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-primary-text-emphasis);
	--bs-btn-hover-bg: var(--bs-primary-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-primary-text-emphasis);
	--bs-btn-active-bg: var(--bs-primary-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-primary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-primary-bg-subtle);
	}
}

.btn-ghost-secondary {
	--bs-btn-focus-shadow-rgb: var(--bs-secondary-rgb);

	--bs-btn-color: var(--bs-secondary);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-secondary-text-emphasis);
	--bs-btn-hover-bg: var(--bs-secondary-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-secondary-text-emphasis);
	--bs-btn-active-bg: var(--bs-secondary-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-secondary);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-secondary-bg-subtle);
	}
}

.btn-ghost-success {
	--bs-btn-focus-shadow-rgb: var(--bs-success-rgb);

	--bs-btn-color: var(--bs-success);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-success-text-emphasis);
	--bs-btn-hover-bg: var(--bs-success-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-success-text-emphasis);
	--bs-btn-active-bg: var(--bs-success-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-success);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-success-bg-subtle);
	}
}

.btn-ghost-danger {
	--bs-btn-focus-shadow-rgb: var(--bs-danger-rgb);

	--bs-btn-color: var(--bs-danger);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-danger-text-emphasis);
	--bs-btn-hover-bg: var(--bs-danger-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-danger-text-emphasis);
	--bs-btn-active-bg: var(--bs-danger-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-danger);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-danger-bg-subtle);
	}
}

.btn-ghost-warning {
	--bs-btn-focus-shadow-rgb: var(--bs-warning-rgb);

	--bs-btn-color: var(--bs-warning);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-warning-text-emphasis);
	--bs-btn-hover-bg: var(--bs-warning-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-warning-text-emphasis);
	--bs-btn-active-bg: var(--bs-warning-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-warning);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-warning-bg-subtle);
	}
}

.btn-ghost-info {
	--bs-btn-focus-shadow-rgb: var(--bs-info-rgb);

	--bs-btn-color: var(--bs-info);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-info-text-emphasis);
	--bs-btn-hover-bg: var(--bs-info-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-info-text-emphasis);
	--bs-btn-active-bg: var(--bs-info-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-info);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-info-bg-subtle);
	}
}

.btn-ghost-light {
	--bs-btn-focus-shadow-rgb: var(--bs-light-rgb);

	--bs-btn-color: var(--bs-light);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-light-text-emphasis);
	--bs-btn-hover-bg: var(--bs-light-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-light-text-emphasis);
	--bs-btn-active-bg: var(--bs-light-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-light);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-light-bg-subtle);
	}
}

.btn-ghost-dark {
	--bs-btn-focus-shadow-rgb: var(--bs-dark-rgb);

	--bs-btn-color: var(--bs-dark);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: transparent;

	--bs-btn-hover-color: var(--bs-dark-text-emphasis);
	--bs-btn-hover-bg: var(--bs-dark-bg-subtle);
	--bs-btn-hover-border-color: transparent;

	--bs-btn-active-color: var(--bs-dark-text-emphasis);
	--bs-btn-active-bg: var(--bs-dark-border-subtle);
	--bs-btn-active-border-color: transparent;

	--bs-btn-disabled-color: var(--bs-dark);
	--bs-btn-disabled-bg: transparent;
	--bs-btn-disabled-border-color: transparent;

	&.placeholder {
		--bs-btn-disabled-bg: var(--bs-dark-bg-subtle);
	}
}

/* endregion Ghost buttons */

/* region Interactive cards */

button.card,
a.card {
	text-align: start;
	text-decoration: none;
	padding: 0;

	transition:
		box-shadow 0.15s ease-in-out,
		border-color 0.15s ease-in-out;
}

button.card:not(:disabled),
button.card:not(.disabled),
a[href].card:not(:disabled),
a[href].card:not(.disabled) {

	&:hover {
		box-shadow: var(--bs-box-shadow);
		border-color: var(--bs-secondary);
	}

	&:active {
		box-shadow: var(--bs-box-shadow-sm);
		border-color: var(--bs-secondary);
	}

	&:focus-visible {
		border-color: var(--bs-secondary);
		outline: 0;
		box-shadow: 0 0 0 0.25rem rgba(var(--bs-secondary-rgb), .5);
	}

}

/* endregion Interactive cards */