.card-img-side {
	border-bottom-left-radius: var(--bs-border-radius);
	border-top-left-radius: var(--bs-border-radius);
}

.card:has(.card-img-side):has(.card-layout-side) {
	flex-direction: row;

	& .card-img-side {
		width: 30%;
	}

	& .deck-cover {
		object-fit: cover;
		object-position: center;
		height: 100%;
	}

	& .deck-cover-placeholder {
		font-size: 5rem;
	}

	& .card-layout-side {
		width: 70%;
		display: flex;
		flex-direction: column;
	}

	& .card-footer {
		border-bottom-left-radius: 0;
	}
}

.card-footer-borderless {
	border-top: 0;
	background: rgba(var(--bs-body-color-rgb), 0.05);
}

.deck-cover {
	object-fit: cover;
	object-position: 0 10%;
	height: 139px;
}

.deck-cover-placeholder {
	display: grid;
	place-items: center;
	font-size: 6rem;
	color: var(--bs-secondary-border-subtle);
	background-color: var(--bs-secondary-bg-subtle);
}