@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 300;
	src: url('../fonts/noto-sans-300.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-regular.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: italic;
	font-weight: 400;
	src: url('../fonts/noto-sans-italic.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 500;
	src: url('../fonts/noto-sans-500.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans';
	font-style: normal;
	font-weight: 700;
	src: url('../fonts/noto-sans-700.woff2') format('woff2');
}

@font-face {
	font-display: swap;
	font-family: 'Noto Sans Mono';
	font-style: normal;
	font-weight: 400;
	src: url('../fonts/noto-sans-mono-regular.woff2') format('woff2');
}