@font-face {
	font-display: block;
	font-family: 'Material Symbols Rounded';
	font-style: normal;
	src: url('../fonts/material-symbols-rounded.woff2') format('woff2');
}

.icon {
	font-family: 'Material Symbols Rounded';
	font-weight: normal;
	font-style: normal;
	font-size: 24px;
	line-height: 1;
	letter-spacing: normal;
	text-transform: none;
	display: inline-block;
	white-space: nowrap;
	word-wrap: normal;
	direction: ltr;
	user-select: none;
	-moz-font-feature-settings: 'liga';
	-moz-osx-font-smoothing: grayscale;

	--icon-fill: 0;
	font-variation-settings: 'FILL' var(--icon-fill, 0);

	&.filled, &[filled] {
		--icon-fill: 1;
	}
}

.hover-icon-filled:hover .icon,
.hover-icon-filled:active .icon,
.hover-icon-filled:focus-visible .icon {
	--icon-fill: 1;
}

.active-icon-filled.active .icon,
.active-icon-filled:active .icon {
	--icon-fill: 1;
}

.nav-item a.active .icon {
	--icon-fill: 1;
}

.icon.small {
	font-size: 21px;
}

.icon.huge {
	font-size: 6rem;
}