.floating-label {
	font-size: 0.85em;
	opacity: 0.65;

	position: absolute;
	top: 0;
	left: 0;
	padding: 0.375rem 0.75rem;
	pointer-events: none;

	&.floating-label-sm {
		padding: 0.25rem 0.5rem;
	}

	&.floating-label-lg {
		padding: 0.5rem 1rem;
	}
}

.input-text-spinner-sm-end {
	position: absolute;
	top: calc(0.625rem + 1px);
	right: 0.75rem;
}

.input-text-spinner-sm-start {
	position: absolute;
	top: calc(0.625rem + 1px);
	left: 0.75rem;
}