.avatar-container {
	display: inline-block;
	position: relative;
}

.avatar {
	border-radius: 50%;
	display: block;
}

/* Inset border to prevent background bleed */
.avatar-container:not(:has(.default))::after {
	content: "";
	position: absolute;
	top: 0;
	left: 0;
	bottom: 0;
	right: 0;
	pointer-events: none;

	border-radius: 50%;
	box-shadow: inset 0 0 0 1px hsla(0, 0%, 0%, 0.15);
}

.avatar-overlap {
	border-radius: 50%;
	border: 2px solid var(--avatar-border-color, color-mix(in hsl shorter hue, var(--bs-body-color) 5%, var(--bs-body-bg)));
}

.avatar-overlap:not(:first-child) {
	margin-left: -0.5rem;
}