.colour-picker {
	display: flex;
	gap: 0.5rem;
}

.colour-input .btn {
	--bs-btn-focus-shadow-rgb: var(--mana-colour-rgb);
	--bs-btn-border-width: 2px;

	--bs-btn-color: var(--mana-colour-dark);
	--bs-btn-bg: transparent;
	--bs-btn-border-color: var(--bs-secondary-border-subtle);

	--bs-btn-hover-color: var(--mana-text);
	--bs-btn-hover-bg: var(--mana-colour-light);
	--bs-btn-hover-border-color: var(--mana-colour-dark);

	--bs-btn-active-color: var(--mana-text);
	--bs-btn-active-bg: var(--mana-colour);
	--bs-btn-active-border-color: var(--mana-colour-dark);

	--bs-btn-disabled-color: var(--mana-text);
	--bs-btn-disabled-bg: var(--bs-secondary-bg-subtle);
	--bs-btn-disabled-border-color: transparent;
}

.colour-input .btn-check:not(:checked) ~ .btn:hover {
	color: var(--bs-btn-hover-color);
	background-color: var(--bs-btn-hover-bg);
	border-color: var(--bs-btn-hover-border-color);
}

.colour-input .mana-symbol {
	display: inline-block;
	width: 1.25rem;
	aspect-ratio: 1;
	background-color: currentColor;
	mask-image: var(--mana-symbol-url);
	mask-size: contain;
	mask-repeat: no-repeat;

	transition:
		background-color 0.15s ease-in-out,
		width 0.15s ease-in-out;
}

.btn-check:checked + .btn .mana-symbol {
	width: 2rem;
	/*background-color: var(--mana-text);*/
	filter: none;
}