.player-entry {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.player-link {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 0.75rem;
	padding-right: 0 !important;
}

.player-edit {
	margin-right: 1.5rem;
}


@media screen and (min-width: 768px) {

	.player-edit {
		margin-right: 1rem;
	}

}