.player-entry {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	padding: 0 1.5rem;
}

.player-link {
	flex: 1;
	display: flex;
	align-items: center;
	gap: 0.75rem;
}

.player-entry:has(a.player-link:hover),
.player-entry:has(a.player-link:focus) {
	background-color: var(--bs-list-group-action-hover-bg);
}

.player-entry:has(a.player-link:active) {
	background-color: var(--bs-list-group-action-active-bg);
}