@page "/players"
@using MagicMatchTracker.Features.Players.Dialogs.Edit
@inherits StatefulComponentBase<PlayerListingState>

<PageTitle>Players - Match Tracker</PageTitle>

<h1>Players</h1>

<button class="btn btn-primary btn-fab"
        disabled="@(State.Players is null)"
        @onclick="() => State.AddNewPlayerAsync(CancellationToken)">
	<span class="icon filled" aria-hidden="true">person_add</span>
	<span>New player</span>
</button>

@if (State.Players is null)
{
	<PageLoading/>
	return;
}

<PlayerEditDialog/>

@if (State.Players.Count == 0)
{
	<p>No players available.</p>
	return;
}

<ul class="list-group list-group-flush list-group-md-nonflush">
	@foreach (var player in GetSortedPlayers(State.Players))
	{
		<PlayerEntry
			Player="player"
			Stats="State.PlayerStats.GetValueOrDefault(player.Id, Stats.Empty)"
			OnEditClick="() => State.EditPlayerAsync(player, CancellationToken)"/>
	}
</ul>

@code {

	private bool _firstLoad;

	protected override async Task OnInitializedAsync()
	{
		_firstLoad = true;
		await State.LoadStatsAsync(CancellationToken);
		await State.LoadPlayersAsync(CancellationToken);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (_firstLoad)
		{
			_firstLoad = false;
			return;
		}

		await State.LoadStatsAsync(CancellationToken);
	}

	private IEnumerable<Player> GetSortedPlayers(IEnumerable<Player> players)
	{
		return players.OrderBy(p => p.Name);
	}

}