@using MagicMatchTracker.Features.Players.Components
<li class="player-entry list-group-item">
	<a href="/players/@Player.Id/decks" class="player-link list-group-item-action text-body text-decoration-none">
		<Avatar Player="Player" Size="36"/>
		<div class="d-flex flex-column">
			<div class="text-content gap-2">
				<span>@Player.Name</span>
				@if (Player.Alias is not null)
				{
					<span class="text-muted small fst-italic">@Player.Alias</span>
				}
			</div>
			<PlayerStatsOverview Stats="Stats" class="small text-muted"/>
		</div>
	</a>
	<button class="player-edit btn btn-ghost-secondary btn-square hover-icon-filled"
	        title="Edit player"
	        @onclick="OnEditClick">
		<span class="icon" aria-hidden="true">edit</span>
	</button>
</li>

@code {

	[Parameter, EditorRequired]
    public required Player Player { get; set; }

	[Parameter]
    public Stats? Stats { get; set; }

	[Parameter]
    public EventCallback OnEditClick { get; set; }

}