@page "/players"
@using MagicMatchTracker.Features.Players.Dialogs.Edit
@using Microsoft.AspNetCore.Components.Server.ProtectedBrowserStorage
@inherits StatefulComponentBase<PlayerListingState>
@attribute [Authorize(Roles = Roles.Owner)]
@inject ProtectedLocalStorage LocalStorage
@inject ILogger<PlayerListingPage> Logger

<PageTitle>Players - Match Tracker</PageTitle>

<div class="heading">
	<h1>Players</h1>
	@if (State.Players is not null)
	{
		<div class="heading-toolbar">
			<PlayerSortDropdown @bind-Value="_sortOption" @bind-Value:after="SaveSortOptionAsync"/>
		</div>
	}
</div>

<button class="btn btn-primary btn-fab"
        disabled="@(State.Players is null)"
        @onclick="() => State.AddNewPlayerAsync(CancellationToken)">
	<span class="icon filled" aria-hidden="true">person_add</span>
	<span>New player</span>
</button>

@if (State.Players is null)
{
	<PageLoading/>
	return;
}

<PlayerEditDialog/>

@if (State.Players.Count == 0)
{
	<p>No players available.</p>
	return;
}

<ul class="list-group list-group-flush list-group-md-nonflush">
	@foreach (var player in GetSortedPlayers(State.Players))
	{
		<PlayerEntry
			Player="player"
			Stats="State.PlayerStats.GetValueOrDefault(player.Id, Stats.Empty)"
			OnEditClick="() => State.EditPlayerAsync(player, CancellationToken)"/>
	}
</ul>

@code {

	private const string SortOptionKey = "playerListingSort";

	private PlayerSortOption _sortOption = PlayerSortOption.Name;

	protected override async Task OnInitializedAsync()
	{
		await State.LoadPlayersAsync(CancellationToken);
		await LoadSortOptionAsync();
	}

	private async Task LoadSortOptionAsync()
	{
		try
		{
			var result = await LocalStorage.GetAsync<PlayerSortOption>(SortOptionKey);
			if (result.Success)
			{
				_sortOption = result.Value;
			}
		}
		catch (Exception e)
		{
			Logger.LogError(e, "Failed to get value from local storage");
		}
	}

	private async Task SaveSortOptionAsync()
	{
		await LocalStorage.SetAsync(SortOptionKey, _sortOption);
	}

	private IEnumerable<Player> GetSortedPlayers(IEnumerable<Player> players)
	{
		return _sortOption switch
		{
			PlayerSortOption.Name => players.OrderBy(p => p.Name),
			PlayerSortOption.Matches => players.OrderByDescending(p => State.PlayerStats.GetValueOrDefault(p.Id, Stats.Empty).Matches)
				.ThenBy(p => p.Name),
			PlayerSortOption.WinRate => players.OrderByDescending(p => State.PlayerStats.GetValueOrDefault(p.Id, Stats.Empty).WinRate)
				.ThenBy(p => p.Name),
			PlayerSortOption.LastPlayed => players.OrderByDescending(p => State.PlayerStats.GetValueOrDefault(p.Id, Stats.Empty).LastPlayed)
				.ThenBy(p => p.Name),
			_ => players.OrderBy(p => p.Name),
		};
	}

}