.heading {
	margin-bottom: 1rem;
}

.heading .player-name {
	display: flex;
	align-items: center;
	gap: 0.5rem;
}

.placeholder-avatar {
	width: 32px;
	height: 32px;
	border-radius: 50%;
}

.deck-list {
	list-style-type: none;
	padding: 0;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1rem;
}

.heading-archive {
	display: inline-block;
	margin: 1rem 0;
}