.deck-list-item {
	--image-cover-colour: var(--bs-list-group-bg);

	background-image:
		linear-gradient(
			to left,
			transparent 0%,
			transparent 33%,
			var(--image-cover-colour) 100%),
		var(--deck-image-url);
	background-repeat: no-repeat;
	background-position: 120% 15%;
	background-size: 50%;

	&:hover {
		--image-cover-colour: var(--bs-list-group-action-hover-bg);
	}
	&:active {
		--image-cover-colour: var(--bs-list-group-action-active-bg);
	}
	&.disabled {
		opacity: 0.75;
		filter: grayscale(1);
	}
}

.deck-name:only-child {
	padding-top: 0.5rem;
	padding-bottom: 0.5rem;
}