@page "/players/{id:guid}/decks"
@using MagicMatchTracker.Features.Shared.Dialogs.DeckEdit
@using MagicMatchTracker.Infrastructure.Pages
@inherits StatefulComponentBase<PlayerDeckListingState>
@attribute [Authorize(Roles = Roles.Owner)]

<PageTitle>@PageTitle - Match Tracker</PageTitle>

@if (State.IsLoading)
{
	<PageLoading/>
	return;
}

@if (State.Player is null)
{
	<NotFound/>
	return;
}

<DeckEditDialog/>

@if (State.Player.Decks.Count > 0)
{
	<button class="btn btn-primary btn-fab"
	        @onclick="() => State.AddNewDeckAsync(CancellationToken)">
		<span class="icon filled" aria-hidden="true">box_add</span>
		<span>New deck</span>
	</button>
}

<PlayerDetailHeader State="State"/>

@if (State.Player.Decks.Count == 0)
{
	<span class="my-5 d-flex flex-column gap-3 align-items-center justify-content-start">
		<span class="icon filled huge text-primary">box_add</span>
		<span>@State.Player.Name has no decks yet</span>
		<button type="button" class="btn btn-primary" @onclick="() => State.AddNewDeckAsync(CancellationToken)">
			<span class="icon">add</span>
			<span>New deck</span>
		</button>
	</span>
	return;
}

<ul class="deck-list">
	@foreach (var deck in GetActiveDecks(State.Player))
	{
		<li>
			<DeckCard
				Deck="deck"
				Stats="State.DeckStats.GetValueOrDefault(deck.Id)"
				OnClick="@(() => State.EditDeckAsync(deck, CancellationToken))"/>
		</li>
	}
</ul>

@{
	var archivedDecks = GetArchivedDecks(State.Player);
}
@if (archivedDecks.Count == 0)
{
	return;
}

<details>
	<summary class="fs-4">
		<h4 class="heading-archive">Archived decks</h4>
	</summary>

	<ul class="deck-list">
		@foreach (var deck in archivedDecks)
		{
			<li>
				<DeckCard
					Deck="deck"
					Stats="State.DeckStats.GetValueOrDefault(deck.Id)"
					OnClick="@(() => State.EditDeckAsync(deck, CancellationToken))"/>
			</li>
		}
	</ul>
</details>

@code {

	private bool _firstLoad;

	private string PageTitle => State.Player is null
		? "Player Decks"
		: $"{State.Player.Name.ToPossessive()} Decks";

	[Parameter, EditorRequired]
    public Guid Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		_firstLoad = true;
		await State.LoadPlayerAsync(Id, CancellationToken);
		await State.LoadDeckStatsAsync(CancellationToken);
	}

	protected override async Task OnParametersSetAsync()
	{
		if (_firstLoad)
		{
			_firstLoad = false;
			return;
		}

		await State.LoadDeckStatsAsync(CancellationToken);
	}

	private IReadOnlyList<Deck> GetActiveDecks(Player player)
	{
		return player.Decks
			.Where(d => !d.IsArchived)
			.OrderBy(d => d.Name ?? d.Commander)
			.ToList();
	}

	private IReadOnlyList<Deck> GetArchivedDecks(Player player)
	{
		return player.Decks
			.Where(d => d.IsArchived)
			.OrderBy(d => d.Name ?? d.Commander)
			.ToList();
	}

}