.deck-list {
	list-style-type: none;
	padding: 0;

	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(17rem, 1fr));
	gap: 1rem;
}

.heading-archive {
	display: inline-block;
	margin: 1rem 0;
}