@page "/players/{id:guid}/decks"
@using MagicMatchTracker.Features.Shared.Dialogs.DeckEdit
@using MagicMatchTracker.Infrastructure.Pages
@inherits StatefulComponentBase<PlayerDeckListingState>
@attribute [Authorize(Roles = Roles.Owner)]

<PageTitle>@PageTitle - Match Tracker</PageTitle>

@if (State.IsLoading)
{
	<PageLoading/>
	return;
}

@if (State.Player is null)
{
	<NotFound/>
	return;
}

<DeckEditDialog/>

@{
	var activeDecks = GetActiveDecks(State.Player);
}
@if (activeDecks.Count > 0)
{
	<button class="btn btn-primary btn-fab"
	        @onclick="() => State.AddNewDeckAsync(CancellationToken)">
		<span class="icon filled" aria-hidden="true">box_add</span>
		<span>New deck</span>
	</button>
}

<PlayerDetailHeader State="State"/>

@if (activeDecks.Count == 0)
{
	var decksKind = State.Player.Decks.Count == 0 ? "decks yet" : "active decks";
	<div class="m-5 d-flex flex-column align-items-md-start">
		<div class="d-flex flex-column gap-3 align-items-center justify-content-start">
			<span class="icon filled huge text-primary">box_add</span>
			<span>@State.Player.Name has no @decksKind</span>
			<button type="button" class="btn btn-primary" @onclick="() => State.AddNewDeckAsync(CancellationToken)">
				<span class="icon">add</span>
				<span>New deck</span>
			</button>
		</div>
	</div>
}

@if (activeDecks.Count > 0)
{
	<ul class="deck-list">
		@foreach (var deck in activeDecks)
		{
			<li>
				<DeckCard
					Deck="deck"
					Stats="State.DeckStats.GetValueOrDefault(deck.Id)"
					OnClick="@(() => State.EditDeckAsync(deck, CancellationToken))"/>
			</li>
		}
	</ul>
}

@{
	var archivedDecks = GetArchivedDecks(State.Player);
}
@if (archivedDecks.Count == 0)
{
	return;
}

<details>
	<summary class="fs-4">
		<h4 class="heading-archive">Archived decks</h4>
	</summary>

	<ul class="deck-list">
		@foreach (var deck in archivedDecks)
		{
			<li>
				<DeckCard
					Deck="deck"
					Stats="State.DeckStats.GetValueOrDefault(deck.Id)"
					OnClick="@(() => State.EditDeckAsync(deck, CancellationToken))"/>
			</li>
		}
	</ul>
</details>

@code {

	private string PageTitle => State.Player is null
		? "Player Decks"
		: $"{State.Player.Name.ToPossessive()} Decks";

	[Parameter, EditorRequired]
    public Guid Id { get; set; }

	protected override async Task OnInitializedAsync()
	{
		await State.LoadPlayerAsync(Id, CancellationToken);
	}

	private IReadOnlyList<Deck> GetActiveDecks(Player player)
	{
		return player.Decks
			.Where(d => !d.IsArchived)
			.OrderBy(d => d.Commander)
			.ToList();
	}

	private IReadOnlyList<Deck> GetArchivedDecks(Player player)
	{
		return player.Decks
			.Where(d => d.IsArchived)
			.OrderBy(d => d.Commander)
			.ToList();
	}

}