
@if (IsOpen)
{
	<div class="modal show" tabindex="-1" @onclick="OnCancel">
		<div class="modal-dialog" @onclick:stopPropagation="true">
			<div class="modal-content">
				@Content
			</div>
		</div>
	</div>
	<div class="modal-backdrop show"></div>
}

@code {

	[Parameter, EditorRequired]
    public required bool IsOpen { get; set; }

	/// <summary>
	/// Content to be rendered inside <c>div.modal-content</c>.
	/// </summary>
	[Parameter, EditorRequired]
    public required RenderFragment Content { get; set; }

	/// <summary>
	/// Invoked when the user clicks outside the dialog.
	/// </summary>
	[Parameter]
    public EventCallback OnCancel { get; set; }
}