<div @attributes="AdditionalAttributes" class="@_containerClass">
	@Button(this)

	@if (IsMenuVisible)
	{
		<AutoClose OnClose="@HideMenu">
			@Menu(this)
		</AutoClose>
	}

</div>

@code {

	private string? _containerClass;

	[Parameter, EditorRequired]
	public required RenderFragment<Dropdown> Button { get; set; }

	[Parameter, EditorRequired]
    public required RenderFragment<Dropdown> Menu { get; set; }

	[Parameter(CaptureUnmatchedValues = true)]
	public Dictionary<string, object>? AdditionalAttributes { get; set; }

	public bool IsMenuVisible { get; private set; }

	public void ShowMenu()
	{
		if (IsMenuVisible)
			return;

		IsMenuVisible = true;
		StateHasChanged();
	}

	public void HideMenu()
	{
		if (!IsMenuVisible)
			return;

		IsMenuVisible = false;
		StateHasChanged();
	}

	protected override void OnParametersSet()
	{
		_containerClass = AttributeUtilities.CombineClassNames(AdditionalAttributes, "dropdown");
	}

}