@page "/error/403"
@page "/forbidden"

<PageTitle>Forbidden - Match Tracker</PageTitle>

<div class="center mt-6">
	<div class="d-flex flex-column align-items-center gap-2">
		<span class="icon huge text-danger">block</span>
		<p>You don't have permission to access this page.</p>
	</div>
</div>