@page "/error/404"

<PageTitle>Not Found - Match Tracker</PageTitle>

<div class="center mt-6">
	<div class="d-flex flex-column align-items-center gap-2">
		<span class="icon huge text-secondary">not_listed_location</span>
		<p>Sorry, there's nothing at this address.</p>
	</div>
</div>