.date-title {
	font-size: 1.25rem;
	margin-right: -1.5rem;
	margin-left: -1.5rem;
	padding: 0.5rem 1.5rem;

	/* TODO: Set these when sticky */
	/*background: white;*/
	/*box-shadow: var(--bs-box-shadow-sm);*/

	transition:
		background-color 0.15s ease-in-out,
		box-shadow 0.15s ease-in-out;
}

.match-list {
	display: grid;
	grid-template-columns: 1fr;
	gap: 1rem;
}