::deep .date-title {
	font-size: 1.25rem;
	margin: 0 -1.5rem;
	padding: 0.5rem 1.5rem;
	border-top: 1px solid transparent;

	transition: box-shadow 0.15s ease-in-out;
}

::deep .date-title.is-stuck {
	background: white;
	box-shadow: var(--bs-box-shadow-sm);
}

.match-list {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}


@media screen and (min-width: 768px) {

	.match-list {
		display: grid;
		grid-template-columns: repeat(auto-fill, 17rem);
	}

}