@page "/matches"
@using MagicMatchTracker.Features.Matches.Dialogs.PlayersEdit
@inherits StatefulComponentBase<MatchListingState>

<PageTitle>Matches - Match Tracker</PageTitle>

<h1>Matches</h1>

<button class="btn btn-primary btn-fab"
        disabled="@(State.Matches is null || State.IsBusy)"
        @onclick="() => State.AddNewMatchAsync(cancellationToken: CancellationToken)">
	@if (State.IsBusy)
	{
		<span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
	}
	else
	{
		<span class="icon filled" aria-hidden="true">add</span>
	}
	<span>New match</span>
</button>

@if (State.Matches is null)
{
	<PageLoading/>
	return;
}

@if (State.Matches.Count == 0)
{
	<p>No matches available.</p>
	return;
}

<div class="d-flex flex-column gap-5">
	@foreach (var group in GetGroupedMatchesByDay(State.Matches))
	{
		<div class="d-flex flex-column gap-1">
			<StickyDetector class="date-title sticky-top">
				@FormatDate(group.Key)
			</StickyDetector>

			<div class="match-list">
				@foreach (var match in group)
				{
					<MatchCard Match="match"/>
				}
			</div>
		</div>
	}

	@if (State.HasMoreMatches)
	{
		<button class="btn btn-outline-primary justify-content-center align-self-md-start"
		        @onclick="() => State.LoadMoreMatchesAsync(CancellationToken)"
		        disabled="@State.IsBusy">
			<span>Load more matches</span>
		</button>
	}
</div>

<MatchPlayersEditDialog/>

@code {

	protected override async Task OnInitializedAsync()
	{
		await State.LoadMatchesAsync(CancellationToken);
	}

	private string FormatDate(DateOnly date)
	{
		var today = DateTimeOffset.Now.ToDateOnly();

		if (date == today)
			return "Today";

		if (date == today.AddDays(-1))
			return "Yesterday";

		if (date.Year == today.Year)
			return date.ToString("dddd, dd MMMM");

		return date.ToString("dd MMMM yyyy");
	}

	private IEnumerable<IGrouping<DateOnly, Match>> GetGroupedMatchesByDay(IEnumerable<Match> matches)
	{
		return matches.OrderByDescending(m => m.GetEffectiveDate())
			.ThenByDescending(m => m.MatchNumber)
			.GroupBy(m => m.GetEffectiveDate());
	}

}