@page "/matches"
@using MagicMatchTracker.Features.Matches.Components
@inherits StatefulComponentBase<MagicMatchTracker.Features.Matches.Services.MatchListingState>

<PageTitle>Matches - Match Tracker</PageTitle>

<h1>Matches</h1>

<button class="btn btn-primary btn-fab"
        disabled="@(State.Matches is null || State.IsBusy)"
        @onclick="() => State.AddNewMatchAsync(cancellationToken: CancellationToken)">
	@if (State.IsBusy)
	{
		<span class="spinner-border spinner-border-sm m-1" aria-hidden="true"></span>
	}
	else
	{
		<span class="icon filled" aria-hidden="true">add</span>
	}
	<span>New match</span>
</button>

@if (State.Matches is null)
{
	<PageLoading/>
	return;
}

@if (State.Matches.Count == 0)
{
	<p>No matches available.</p>
	return;
}

<div class="list-group list-group-flush">
	@foreach (var match in State.Matches)
	{
		<a class="list-group-item list-group-item-action text-content" href="/matches/@match.Id">
			<span>@match.GetTitle()</span>
			@if (!match.HasStarted)
			{
				<span class="icon small">draft</span>
			}
			@if (match.IsInProgress)
			{
				<span class="icon small">timer</span>
			}
		</a>
	}
</div>

<MatchPlayerSelectDialog/>

@code {

	protected override async Task OnInitializedAsync()
	{
		await State.LoadMatchesAsync(CancellationToken);
	}

}