.page-content {
	display: flex;
	flex-direction: column;
	gap: 1rem;
}

.match-details {
	display: flex;
	flex-direction: column;
	gap: 0.5rem;
}

.match-detail-entry {
	display: flex;
	align-items: center;
	gap: 0.5rem;
	word-break: break-word;
}

.match-action-button {
	margin-top: 0.5rem;
	justify-content: center;
}

.match-participations {
	display: flex;
	flex-direction: column;
	gap: 1rem;
	margin-bottom: 1rem;
}

.participation-list {
	display: grid;
	grid-template-columns: repeat(auto-fill, minmax(20rem, 1fr));
	gap: 1rem;
}

@media screen and (min-width: 1200px) {

	.page-content {
		flex-direction: row;
		align-items: start;
	}

	.match-details {
		max-width: 20rem;
		border: 1px solid var(--bs-border-color);
		border-radius: var(--bs-border-radius);
		padding: 1rem;
	}

	.match-detail-entry {
		margin-right: 0.25rem;
	}

	.match-action-button {
		margin-top: 1rem;
	}

	.match-participations {
		flex: 1;
	}

}

@media screen and (min-width: 1400px) {

	.match-participations {
		max-width: 51rem;
	}

}